/* ---------
    Font
------------ */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');



/*------------------------
       Common Styles
 ----------------------- */
body{
    font-family: 'Poppins', sans-serif;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* --------------------------
       Top-banner style
----------------------------- */


.container{
    display: flex;
    align-items: center;
    background-color: #3b46e6;
    width: 100%; 
     
}
.heading{
    padding-left:78px;
}

.subtitle{
    font-size: 64px;
    color: white;
    width: 485px;
    height: 230px;   
}

.button-border{
    background-color:#E02C6D;
    width: 168px;
    height: 44px;
    font-size: 16px;
    color: white;
    transition: transform 2s;    
}

.banner{
    width: 556.01px;
    height: 438px;
    margin-left: 100px; 
    margin-bottom: 86px; 
    margin-top: 153px;
    transition: transform 2s;
}

.banner:hover.banner{
    transform: rotate(35deg);
}

#link-button{
    text-decoration: none;
    color: whitesmoke;
}


/* -------------------
     players style
---------------------- */

.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 27px 30px;
    padding: 10px;   
    margin-top: 70px; 
}
.player{
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    width: 330px;
}
.player img{
    width: 300px;
    height: 256px;
    margin: 15px 15px;
}
.player-info{
    margin: 16px 15px 33px;
 }
.player-name{
    font-size: 28px;
}
.player-details{
    font-size: 16px;
}
/*-----------------------
    HIghlight-Style
------------------------ */
.Highlight{
    display: flex;
    align-items: center;
    padding: 15px;
    margin:15px 15px 30px;
    
}
.Highlight-details{
    width: 466px;
    border: 3px soild whitesmoke;
    margin-right: 25px;
}
.icon-border{
    background-color:#E02C6D;
    width: 168px;
    height: 44px;
    font-size: 16px;
    color: white;
    transition: transform 2s;   
}

.icon-border:hover.icon-border{
    transform: scale(1.6);
}
   

